[submodule "base16-shell"]
	path = base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "home/vim/colors/base16-vim"]
	path = home/vim/colors/base16-vim
	url = git@github.com:chriskempson/base16-vim.git
