.*.sw[op]
qutebrowser/qsettings
qutebrowser/quickmarks
qutebrowser/bookmarks
mimeapps.list
user-dirs.dirs
vim/colors
vim/.netrwhist
vim/base16scheme
GIMP
blender
chromium
configstore
discord
gtk-2.0
pulse
unity3d
visualboyadvance-m


