[user]
	name = Tyler Grunenwald
	email = tylergrunenwald@gmail.com
[gpg]
	program = gpg2

[alias]
	a = add
	aa = add --all
	au = add -u
	b = branch
	bl = branch -l
	c = commit
	co = checkout
	cm = commit -m
	d = diff
	l = log
	r = remote
	rv = remote -v
	s = status
	sm = submodule

