# ~/.inputrc

# disable terminal bell
set bell-style none

# colored and case insensitive auto-completion
set colored-completion-prefix on
set colored-stats on
set completion-ignore-case on
set completion-map-case on

# vi key bindings
set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string \`-insert-
set vi-cmd-mode-string \`-normal-

# custom insert mode bindings
set keymap vi-insert
Control-l: clear-screen
Control-a: beginning-of-line

# don't interpret pasted characters as commands
set enable-bracketed-paste on

# don't wrap lines that are too long, scroll horizontally instead
set horizontal-scroll-mode on

# insert slash after auto-completing symlinked dirs
set mark-symlinked-directories on

# show all matches immediately, don't bell
set show-all-if-ambiguous on
